@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin-left: 110px;
  margin-right: 110px;
}

.font-istok-web {
  font-family: "Istok Web", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.text-customOrange {
  color: #eb662b;
}

.drop-shadow-custom {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.transition-transform {
  transition: transform 0.5s ease-in-out;
}

.transform {
  transform: translateX(0%);
}

.translate-x-100 {
  transform: translateX(100%);
}

.-translate-x-100 {
  transform: translateX(-100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
